<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/creator.css" />
    <script src="../JS/helpers.js" defer></script>

    <title>Document</title>
  </head>
  <body>

    <div id="header">

      <div id="logo">
        <svg width="200" height="129" viewBox="0 0 200 129" fill="none">
          <path
            d="M46.623 86.8925L46.5691 86.9312L46.5188 86.9745L7.63702 120.446L55.8876 49.5625L56.6309 48.4707L55.6418 47.5952L3.64718 1.57568C22.183 0.67227 39.3924 7.97003 56.1291 17.4951C62.3847 21.0552 68.5256 24.8965 74.6359 28.7187C77.2163 30.3328 79.7912 31.9434 82.367 33.5281C90.1591 38.3219 97.9315 42.8591 105.737 46.4125C87.4915 58.2602 67.4985 71.9145 46.623 86.8925ZM142.036 50.2579C131.981 51.7194 122.085 49.7804 112.115 45.8635C130.195 34.2413 146.4 24.5144 159.841 17.176C173.914 9.49244 184.852 4.48611 191.716 2.62233C193.423 2.15896 194.825 1.90491 195.929 1.83974C197.06 1.77296 197.728 1.91432 198.08 2.09135C198.333 2.21885 198.441 2.3609 198.484 2.66519C198.542 3.0779 198.459 3.80425 197.998 4.94825C197.082 7.22156 194.941 10.5059 191.308 14.9175C187.699 19.3007 182.698 24.7029 176.164 31.2001C164.257 43.0407 152.961 48.6701 142.036 50.2579Z"
            stroke="#158AF7"
            stroke-width="4"
          />
        </svg>
      </div>

      <div id="d_l_mode_toggle_box">
        <div class="toggle_box" id="sun">
          <svg width="51" height="51" viewBox="0 0 51 51" fill="none">
            <path
              d="M25.5 4.25V8.5M25.5 42.5V46.75M8.5 25.5H4.25M13.4175 13.4175L10.4123 10.4123M37.5825 13.4175L40.5877 10.4123M13.4175 37.5913L10.4123 40.5965M37.5825 37.5913L40.5877 40.5965M46.75 25.5H42.5M36.125 25.5C36.125 31.368 31.368 36.125 25.5 36.125C19.632 36.125 14.875 31.368 14.875 25.5C14.875 19.632 19.632 14.875 25.5 14.875C31.368 14.875 36.125 19.632 36.125 25.5Z"
              stroke="#158AF7"
              stroke-width="2"
              strokeLinecap="round"
              strokeLinejoin="round"
            />
          </svg>
        </div>
        <div class="toggle_box" id="moon">
          <svg width="45" height="45" viewBox="0 0 48 46" fill="none">
            <path
              d="M47 31.4573C43.9792 32.764 40.6259 33.4915 37.095 33.4915C23.8052 33.4915 13.0317 23.1864 13.0317 10.4744C13.0317 7.09698 13.7921 3.88947 15.1583 1C6.80925 4.61159 1 12.6483 1 21.9829C1 34.6949 11.7735 45 25.0633 45C34.8222 45 43.2242 39.4433 47 31.4573Z"
              stroke="#158AF7"
              stroke-width="2"
              strokeLinecap="round"
              strokeLinejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>

    <div class="title">CREATORS</div>

    <section>

      <div class="cards">
        <div class="photos">
          <div class="photo_box">

          </div>
        </div>
        <div class="description">
          <h3>TITLE</h3>
          <h4>some bullshit</h4>
          <h4>TECH STACK <span>node js mongodb ...</span></h4>
        </div>
        <div class="decorations">
          <svg
            viewBox="0 0 115 156"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_79_35)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M49.0624 144.091C47.6777 144.086 46.2954 144.081 44.9175 144.081C38.3825 144.081 31.8714 143.933 25.3423 143.785L25.3284 143.785C18.8095 143.636 12.2727 143.488 5.71008 143.488C4.88166 143.488 4.21008 144.159 4.21008 144.988C4.21008 145.816 4.88166 146.488 5.71008 146.488C12.2377 146.488 18.745 146.636 25.2741 146.784L25.277 146.784C31.7995 146.933 38.3437 147.081 44.9175 147.081C46.2974 147.081 47.6897 147.087 49.0916 147.092C62.187 147.144 76.1258 147.198 88.7045 142.844C97.5829 139.771 102.712 133.486 105.758 126.102C108.78 118.779 109.787 110.303 110.45 102.679C111.109 95.0968 111.185 85.9226 110.009 78.2819C109.713 76.355 109.634 74.2558 109.615 72.0225C109.609 71.2836 109.61 70.5229 109.61 69.7508C109.611 68.2324 109.612 66.6701 109.562 65.1431C109.411 60.5194 108.797 55.6947 106.075 51.6833C105.495 50.8294 104.898 50.0268 104.281 49.2758C104.859 46.8393 105.286 44.3215 105.531 41.7986C106.206 34.8482 105.514 27.684 102.606 22.0301C93.1191 3.58327 75.3566 2.59705 57.678 1.61549L57.3664 1.59819C55.4719 1.49294 53.5209 1.34462 51.5327 1.19348C44.6665 0.671494 37.358 0.115891 30.4112 1.18465C27.7344 1.59648 22.2641 2.0043 18.0685 2.31306L17.8086 2.3322C15.8546 2.47595 14.1988 2.59776 13.3421 2.68512C13.1241 2.70734 12.9168 2.73129 12.7618 2.75784L12.7557 2.75885C12.7095 2.76659 12.5284 2.79692 12.3468 2.87083C12.2924 2.89299 12.1606 2.94922 12.0156 3.05556C11.9201 3.1255 11.5012 3.44182 11.4133 4.05905C11.3069 4.80646 11.7579 5.27956 11.9561 5.44031C12.1525 5.59962 12.3415 5.66954 12.4039 5.69189C12.6224 5.77017 12.8408 5.78659 12.881 5.78963L12.8861 5.79001C12.9759 5.79767 13.0765 5.80249 13.1786 5.80589C13.386 5.81282 13.6666 5.81595 14.0199 5.81595C14.328 5.81595 14.6145 5.72301 14.8528 5.56361C15.707 5.49495 16.8216 5.41292 18.0881 5.31973L18.2887 5.30498C22.419 5.00101 28.0419 4.58446 30.8674 4.14977C37.4391 3.13869 44.2738 3.65604 51.0801 4.17125C53.1253 4.32607 55.1679 4.48068 57.2 4.59358C75.3087 5.59964 91.2897 6.58576 99.9381 23.4021C102.487 28.3576 103.189 34.879 102.545 41.5087C102.378 43.2277 102.122 44.9422 101.788 46.6245C100.173 45.1382 98.4295 43.9524 96.5295 43.0706C92.8197 41.3488 88.6426 40.8454 83.8933 41.3731C79.5161 41.8594 75.3425 45.3057 72.8537 49.377C70.3641 53.4495 69.2276 58.7179 71.792 62.992C73.8799 66.4718 76.1786 68.5069 78.986 69.5685C81.7135 70.6 84.7588 70.6421 88.1396 70.5121C94.6557 70.2614 97.7444 65.2231 99.9926 60.9766C101.261 58.5811 102.379 55.8466 103.285 52.9233C103.388 53.0695 103.49 53.2176 103.592 53.3678C105.812 56.6393 106.417 60.731 106.564 65.2409C106.612 66.7216 106.611 68.1912 106.61 69.6762C106.609 70.4611 106.609 71.2503 106.615 72.0478C106.635 74.3128 106.713 76.5892 107.044 78.7381C108.171 86.062 108.108 94.9789 107.461 102.419C106.798 110.041 105.813 118.103 102.985 124.957C100.182 131.75 95.6031 137.281 87.7232 140.009C75.6577 144.186 62.2458 144.138 49.0624 144.091ZM100.989 50.0621C100.052 53.5625 98.7961 56.8249 97.3413 59.5729C95.0568 63.8879 92.6814 67.3352 88.0243 67.5143C84.6469 67.6442 82.1514 67.5583 80.0471 66.7625C78.0228 65.9969 76.1987 64.5056 74.3645 61.4486C72.6158 58.5339 73.2127 54.5415 75.4133 50.9417C77.6146 47.3407 81.088 44.7032 84.2246 44.3547C88.567 43.8722 92.1671 44.3533 95.2666 45.7918C97.3245 46.7469 99.218 48.1502 100.989 50.0621ZM13.2721 5.71413C13.2574 5.71732 13.2492 5.71864 13.2494 5.71841C13.2495 5.71823 13.2553 5.71698 13.2679 5.71483C13.2692 5.7146 13.2706 5.71437 13.2721 5.71413ZM13.148 2.80142C13.113 2.79668 13.1054 2.79784 13.1405 2.80083C13.1425 2.80099 13.1451 2.80121 13.148 2.80142Z"
                fill="white"
              />
            </g>
            <defs>
              <filter
                id="filter0_d_79_35"
                x="0.210083"
                y="0.574707"
                width="114.714"
                height="154.529"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_79_35"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_79_35"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>

        </div>
      </div>
      <div class="cards">

        <div class="description">
          <h3>TITLE</h3>
          <h4>some bullshit</h4>
          <h4>TECH STACK <span>node js mongodb ...</span></h4>
        </div>
        <div class="decorations">
          <svg
            viewBox="0 0 115 156"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_79_35)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M49.0624 144.091C47.6777 144.086 46.2954 144.081 44.9175 144.081C38.3825 144.081 31.8714 143.933 25.3423 143.785L25.3284 143.785C18.8095 143.636 12.2727 143.488 5.71008 143.488C4.88166 143.488 4.21008 144.159 4.21008 144.988C4.21008 145.816 4.88166 146.488 5.71008 146.488C12.2377 146.488 18.745 146.636 25.2741 146.784L25.277 146.784C31.7995 146.933 38.3437 147.081 44.9175 147.081C46.2974 147.081 47.6897 147.087 49.0916 147.092C62.187 147.144 76.1258 147.198 88.7045 142.844C97.5829 139.771 102.712 133.486 105.758 126.102C108.78 118.779 109.787 110.303 110.45 102.679C111.109 95.0968 111.185 85.9226 110.009 78.2819C109.713 76.355 109.634 74.2558 109.615 72.0225C109.609 71.2836 109.61 70.5229 109.61 69.7508C109.611 68.2324 109.612 66.6701 109.562 65.1431C109.411 60.5194 108.797 55.6947 106.075 51.6833C105.495 50.8294 104.898 50.0268 104.281 49.2758C104.859 46.8393 105.286 44.3215 105.531 41.7986C106.206 34.8482 105.514 27.684 102.606 22.0301C93.1191 3.58327 75.3566 2.59705 57.678 1.61549L57.3664 1.59819C55.4719 1.49294 53.5209 1.34462 51.5327 1.19348C44.6665 0.671494 37.358 0.115891 30.4112 1.18465C27.7344 1.59648 22.2641 2.0043 18.0685 2.31306L17.8086 2.3322C15.8546 2.47595 14.1988 2.59776 13.3421 2.68512C13.1241 2.70734 12.9168 2.73129 12.7618 2.75784L12.7557 2.75885C12.7095 2.76659 12.5284 2.79692 12.3468 2.87083C12.2924 2.89299 12.1606 2.94922 12.0156 3.05556C11.9201 3.1255 11.5012 3.44182 11.4133 4.05905C11.3069 4.80646 11.7579 5.27956 11.9561 5.44031C12.1525 5.59962 12.3415 5.66954 12.4039 5.69189C12.6224 5.77017 12.8408 5.78659 12.881 5.78963L12.8861 5.79001C12.9759 5.79767 13.0765 5.80249 13.1786 5.80589C13.386 5.81282 13.6666 5.81595 14.0199 5.81595C14.328 5.81595 14.6145 5.72301 14.8528 5.56361C15.707 5.49495 16.8216 5.41292 18.0881 5.31973L18.2887 5.30498C22.419 5.00101 28.0419 4.58446 30.8674 4.14977C37.4391 3.13869 44.2738 3.65604 51.0801 4.17125C53.1253 4.32607 55.1679 4.48068 57.2 4.59358C75.3087 5.59964 91.2897 6.58576 99.9381 23.4021C102.487 28.3576 103.189 34.879 102.545 41.5087C102.378 43.2277 102.122 44.9422 101.788 46.6245C100.173 45.1382 98.4295 43.9524 96.5295 43.0706C92.8197 41.3488 88.6426 40.8454 83.8933 41.3731C79.5161 41.8594 75.3425 45.3057 72.8537 49.377C70.3641 53.4495 69.2276 58.7179 71.792 62.992C73.8799 66.4718 76.1786 68.5069 78.986 69.5685C81.7135 70.6 84.7588 70.6421 88.1396 70.5121C94.6557 70.2614 97.7444 65.2231 99.9926 60.9766C101.261 58.5811 102.379 55.8466 103.285 52.9233C103.388 53.0695 103.49 53.2176 103.592 53.3678C105.812 56.6393 106.417 60.731 106.564 65.2409C106.612 66.7216 106.611 68.1912 106.61 69.6762C106.609 70.4611 106.609 71.2503 106.615 72.0478C106.635 74.3128 106.713 76.5892 107.044 78.7381C108.171 86.062 108.108 94.9789 107.461 102.419C106.798 110.041 105.813 118.103 102.985 124.957C100.182 131.75 95.6031 137.281 87.7232 140.009C75.6577 144.186 62.2458 144.138 49.0624 144.091ZM100.989 50.0621C100.052 53.5625 98.7961 56.8249 97.3413 59.5729C95.0568 63.8879 92.6814 67.3352 88.0243 67.5143C84.6469 67.6442 82.1514 67.5583 80.0471 66.7625C78.0228 65.9969 76.1987 64.5056 74.3645 61.4486C72.6158 58.5339 73.2127 54.5415 75.4133 50.9417C77.6146 47.3407 81.088 44.7032 84.2246 44.3547C88.567 43.8722 92.1671 44.3533 95.2666 45.7918C97.3245 46.7469 99.218 48.1502 100.989 50.0621ZM13.2721 5.71413C13.2574 5.71732 13.2492 5.71864 13.2494 5.71841C13.2495 5.71823 13.2553 5.71698 13.2679 5.71483C13.2692 5.7146 13.2706 5.71437 13.2721 5.71413ZM13.148 2.80142C13.113 2.79668 13.1054 2.79784 13.1405 2.80083C13.1425 2.80099 13.1451 2.80121 13.148 2.80142Z"
                fill="white"
              />
            </g>
            <defs>
              <filter
                id="filter0_d_79_35"
                x="0.210083"
                y="0.574707"
                width="114.714"
                height="154.529"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_79_35"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_79_35"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>

        </div>
        <div class="photos">
          <div class="photo_box">

          </div>
        </div>
      </div>
      <div class="cards">
        <div class="photos">
          <div class="photo_box">

          </div>
        </div>
        <div class="description">
          <h3>TITLE</h3>
          <h4>some bullshit</h4>
          <h4>TECH STACK <span>node js mongodb ...</span></h4>
        </div>
        <div class="decorations">
          <svg
            viewBox="0 0 115 156"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_79_35)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M49.0624 144.091C47.6777 144.086 46.2954 144.081 44.9175 144.081C38.3825 144.081 31.8714 143.933 25.3423 143.785L25.3284 143.785C18.8095 143.636 12.2727 143.488 5.71008 143.488C4.88166 143.488 4.21008 144.159 4.21008 144.988C4.21008 145.816 4.88166 146.488 5.71008 146.488C12.2377 146.488 18.745 146.636 25.2741 146.784L25.277 146.784C31.7995 146.933 38.3437 147.081 44.9175 147.081C46.2974 147.081 47.6897 147.087 49.0916 147.092C62.187 147.144 76.1258 147.198 88.7045 142.844C97.5829 139.771 102.712 133.486 105.758 126.102C108.78 118.779 109.787 110.303 110.45 102.679C111.109 95.0968 111.185 85.9226 110.009 78.2819C109.713 76.355 109.634 74.2558 109.615 72.0225C109.609 71.2836 109.61 70.5229 109.61 69.7508C109.611 68.2324 109.612 66.6701 109.562 65.1431C109.411 60.5194 108.797 55.6947 106.075 51.6833C105.495 50.8294 104.898 50.0268 104.281 49.2758C104.859 46.8393 105.286 44.3215 105.531 41.7986C106.206 34.8482 105.514 27.684 102.606 22.0301C93.1191 3.58327 75.3566 2.59705 57.678 1.61549L57.3664 1.59819C55.4719 1.49294 53.5209 1.34462 51.5327 1.19348C44.6665 0.671494 37.358 0.115891 30.4112 1.18465C27.7344 1.59648 22.2641 2.0043 18.0685 2.31306L17.8086 2.3322C15.8546 2.47595 14.1988 2.59776 13.3421 2.68512C13.1241 2.70734 12.9168 2.73129 12.7618 2.75784L12.7557 2.75885C12.7095 2.76659 12.5284 2.79692 12.3468 2.87083C12.2924 2.89299 12.1606 2.94922 12.0156 3.05556C11.9201 3.1255 11.5012 3.44182 11.4133 4.05905C11.3069 4.80646 11.7579 5.27956 11.9561 5.44031C12.1525 5.59962 12.3415 5.66954 12.4039 5.69189C12.6224 5.77017 12.8408 5.78659 12.881 5.78963L12.8861 5.79001C12.9759 5.79767 13.0765 5.80249 13.1786 5.80589C13.386 5.81282 13.6666 5.81595 14.0199 5.81595C14.328 5.81595 14.6145 5.72301 14.8528 5.56361C15.707 5.49495 16.8216 5.41292 18.0881 5.31973L18.2887 5.30498C22.419 5.00101 28.0419 4.58446 30.8674 4.14977C37.4391 3.13869 44.2738 3.65604 51.0801 4.17125C53.1253 4.32607 55.1679 4.48068 57.2 4.59358C75.3087 5.59964 91.2897 6.58576 99.9381 23.4021C102.487 28.3576 103.189 34.879 102.545 41.5087C102.378 43.2277 102.122 44.9422 101.788 46.6245C100.173 45.1382 98.4295 43.9524 96.5295 43.0706C92.8197 41.3488 88.6426 40.8454 83.8933 41.3731C79.5161 41.8594 75.3425 45.3057 72.8537 49.377C70.3641 53.4495 69.2276 58.7179 71.792 62.992C73.8799 66.4718 76.1786 68.5069 78.986 69.5685C81.7135 70.6 84.7588 70.6421 88.1396 70.5121C94.6557 70.2614 97.7444 65.2231 99.9926 60.9766C101.261 58.5811 102.379 55.8466 103.285 52.9233C103.388 53.0695 103.49 53.2176 103.592 53.3678C105.812 56.6393 106.417 60.731 106.564 65.2409C106.612 66.7216 106.611 68.1912 106.61 69.6762C106.609 70.4611 106.609 71.2503 106.615 72.0478C106.635 74.3128 106.713 76.5892 107.044 78.7381C108.171 86.062 108.108 94.9789 107.461 102.419C106.798 110.041 105.813 118.103 102.985 124.957C100.182 131.75 95.6031 137.281 87.7232 140.009C75.6577 144.186 62.2458 144.138 49.0624 144.091ZM100.989 50.0621C100.052 53.5625 98.7961 56.8249 97.3413 59.5729C95.0568 63.8879 92.6814 67.3352 88.0243 67.5143C84.6469 67.6442 82.1514 67.5583 80.0471 66.7625C78.0228 65.9969 76.1987 64.5056 74.3645 61.4486C72.6158 58.5339 73.2127 54.5415 75.4133 50.9417C77.6146 47.3407 81.088 44.7032 84.2246 44.3547C88.567 43.8722 92.1671 44.3533 95.2666 45.7918C97.3245 46.7469 99.218 48.1502 100.989 50.0621ZM13.2721 5.71413C13.2574 5.71732 13.2492 5.71864 13.2494 5.71841C13.2495 5.71823 13.2553 5.71698 13.2679 5.71483C13.2692 5.7146 13.2706 5.71437 13.2721 5.71413ZM13.148 2.80142C13.113 2.79668 13.1054 2.79784 13.1405 2.80083C13.1425 2.80099 13.1451 2.80121 13.148 2.80142Z"
                fill="white"
              />
            </g>
            <defs>
              <filter
                id="filter0_d_79_35"
                x="0.210083"
                y="0.574707"
                width="114.714"
                height="154.529"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_79_35"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_79_35"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>

        </div>
      </div>
      <div class="cards">

        <div class="description">
          <h3>TITLE</h3>
          <h4>some bullshit</h4>
          <h4>TECH STACK <span>node js mongodb ...</span></h4>
        </div>
        <div class="photos">
          <div class="photo_box">

          </div>
        </div>
        <div class="decorations">
          <svg
            viewBox="0 0 115 156"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_79_35)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M49.0624 144.091C47.6777 144.086 46.2954 144.081 44.9175 144.081C38.3825 144.081 31.8714 143.933 25.3423 143.785L25.3284 143.785C18.8095 143.636 12.2727 143.488 5.71008 143.488C4.88166 143.488 4.21008 144.159 4.21008 144.988C4.21008 145.816 4.88166 146.488 5.71008 146.488C12.2377 146.488 18.745 146.636 25.2741 146.784L25.277 146.784C31.7995 146.933 38.3437 147.081 44.9175 147.081C46.2974 147.081 47.6897 147.087 49.0916 147.092C62.187 147.144 76.1258 147.198 88.7045 142.844C97.5829 139.771 102.712 133.486 105.758 126.102C108.78 118.779 109.787 110.303 110.45 102.679C111.109 95.0968 111.185 85.9226 110.009 78.2819C109.713 76.355 109.634 74.2558 109.615 72.0225C109.609 71.2836 109.61 70.5229 109.61 69.7508C109.611 68.2324 109.612 66.6701 109.562 65.1431C109.411 60.5194 108.797 55.6947 106.075 51.6833C105.495 50.8294 104.898 50.0268 104.281 49.2758C104.859 46.8393 105.286 44.3215 105.531 41.7986C106.206 34.8482 105.514 27.684 102.606 22.0301C93.1191 3.58327 75.3566 2.59705 57.678 1.61549L57.3664 1.59819C55.4719 1.49294 53.5209 1.34462 51.5327 1.19348C44.6665 0.671494 37.358 0.115891 30.4112 1.18465C27.7344 1.59648 22.2641 2.0043 18.0685 2.31306L17.8086 2.3322C15.8546 2.47595 14.1988 2.59776 13.3421 2.68512C13.1241 2.70734 12.9168 2.73129 12.7618 2.75784L12.7557 2.75885C12.7095 2.76659 12.5284 2.79692 12.3468 2.87083C12.2924 2.89299 12.1606 2.94922 12.0156 3.05556C11.9201 3.1255 11.5012 3.44182 11.4133 4.05905C11.3069 4.80646 11.7579 5.27956 11.9561 5.44031C12.1525 5.59962 12.3415 5.66954 12.4039 5.69189C12.6224 5.77017 12.8408 5.78659 12.881 5.78963L12.8861 5.79001C12.9759 5.79767 13.0765 5.80249 13.1786 5.80589C13.386 5.81282 13.6666 5.81595 14.0199 5.81595C14.328 5.81595 14.6145 5.72301 14.8528 5.56361C15.707 5.49495 16.8216 5.41292 18.0881 5.31973L18.2887 5.30498C22.419 5.00101 28.0419 4.58446 30.8674 4.14977C37.4391 3.13869 44.2738 3.65604 51.0801 4.17125C53.1253 4.32607 55.1679 4.48068 57.2 4.59358C75.3087 5.59964 91.2897 6.58576 99.9381 23.4021C102.487 28.3576 103.189 34.879 102.545 41.5087C102.378 43.2277 102.122 44.9422 101.788 46.6245C100.173 45.1382 98.4295 43.9524 96.5295 43.0706C92.8197 41.3488 88.6426 40.8454 83.8933 41.3731C79.5161 41.8594 75.3425 45.3057 72.8537 49.377C70.3641 53.4495 69.2276 58.7179 71.792 62.992C73.8799 66.4718 76.1786 68.5069 78.986 69.5685C81.7135 70.6 84.7588 70.6421 88.1396 70.5121C94.6557 70.2614 97.7444 65.2231 99.9926 60.9766C101.261 58.5811 102.379 55.8466 103.285 52.9233C103.388 53.0695 103.49 53.2176 103.592 53.3678C105.812 56.6393 106.417 60.731 106.564 65.2409C106.612 66.7216 106.611 68.1912 106.61 69.6762C106.609 70.4611 106.609 71.2503 106.615 72.0478C106.635 74.3128 106.713 76.5892 107.044 78.7381C108.171 86.062 108.108 94.9789 107.461 102.419C106.798 110.041 105.813 118.103 102.985 124.957C100.182 131.75 95.6031 137.281 87.7232 140.009C75.6577 144.186 62.2458 144.138 49.0624 144.091ZM100.989 50.0621C100.052 53.5625 98.7961 56.8249 97.3413 59.5729C95.0568 63.8879 92.6814 67.3352 88.0243 67.5143C84.6469 67.6442 82.1514 67.5583 80.0471 66.7625C78.0228 65.9969 76.1987 64.5056 74.3645 61.4486C72.6158 58.5339 73.2127 54.5415 75.4133 50.9417C77.6146 47.3407 81.088 44.7032 84.2246 44.3547C88.567 43.8722 92.1671 44.3533 95.2666 45.7918C97.3245 46.7469 99.218 48.1502 100.989 50.0621ZM13.2721 5.71413C13.2574 5.71732 13.2492 5.71864 13.2494 5.71841C13.2495 5.71823 13.2553 5.71698 13.2679 5.71483C13.2692 5.7146 13.2706 5.71437 13.2721 5.71413ZM13.148 2.80142C13.113 2.79668 13.1054 2.79784 13.1405 2.80083C13.1425 2.80099 13.1451 2.80121 13.148 2.80142Z"
                fill="white"
              />
            </g>
            <defs>
              <filter
                id="filter0_d_79_35"
                x="0.210083"
                y="0.574707"
                width="114.714"
                height="154.529"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_79_35"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_79_35"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>

        </div>

      </div>
      <div class="cards">
        <div class="photos">
          <div class="photo_box">

          </div>
        </div>
        <div class="description">
          <h3>TITLE</h3>
          <h4>some bullshit</h4>
          <h4>TECH STACK <span>node js mongodb ...</span></h4>
        </div>
        {{! <div class="decorations">
          <svg
            viewBox="0 0 115 156"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_79_35)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M49.0624 144.091C47.6777 144.086 46.2954 144.081 44.9175 144.081C38.3825 144.081 31.8714 143.933 25.3423 143.785L25.3284 143.785C18.8095 143.636 12.2727 143.488 5.71008 143.488C4.88166 143.488 4.21008 144.159 4.21008 144.988C4.21008 145.816 4.88166 146.488 5.71008 146.488C12.2377 146.488 18.745 146.636 25.2741 146.784L25.277 146.784C31.7995 146.933 38.3437 147.081 44.9175 147.081C46.2974 147.081 47.6897 147.087 49.0916 147.092C62.187 147.144 76.1258 147.198 88.7045 142.844C97.5829 139.771 102.712 133.486 105.758 126.102C108.78 118.779 109.787 110.303 110.45 102.679C111.109 95.0968 111.185 85.9226 110.009 78.2819C109.713 76.355 109.634 74.2558 109.615 72.0225C109.609 71.2836 109.61 70.5229 109.61 69.7508C109.611 68.2324 109.612 66.6701 109.562 65.1431C109.411 60.5194 108.797 55.6947 106.075 51.6833C105.495 50.8294 104.898 50.0268 104.281 49.2758C104.859 46.8393 105.286 44.3215 105.531 41.7986C106.206 34.8482 105.514 27.684 102.606 22.0301C93.1191 3.58327 75.3566 2.59705 57.678 1.61549L57.3664 1.59819C55.4719 1.49294 53.5209 1.34462 51.5327 1.19348C44.6665 0.671494 37.358 0.115891 30.4112 1.18465C27.7344 1.59648 22.2641 2.0043 18.0685 2.31306L17.8086 2.3322C15.8546 2.47595 14.1988 2.59776 13.3421 2.68512C13.1241 2.70734 12.9168 2.73129 12.7618 2.75784L12.7557 2.75885C12.7095 2.76659 12.5284 2.79692 12.3468 2.87083C12.2924 2.89299 12.1606 2.94922 12.0156 3.05556C11.9201 3.1255 11.5012 3.44182 11.4133 4.05905C11.3069 4.80646 11.7579 5.27956 11.9561 5.44031C12.1525 5.59962 12.3415 5.66954 12.4039 5.69189C12.6224 5.77017 12.8408 5.78659 12.881 5.78963L12.8861 5.79001C12.9759 5.79767 13.0765 5.80249 13.1786 5.80589C13.386 5.81282 13.6666 5.81595 14.0199 5.81595C14.328 5.81595 14.6145 5.72301 14.8528 5.56361C15.707 5.49495 16.8216 5.41292 18.0881 5.31973L18.2887 5.30498C22.419 5.00101 28.0419 4.58446 30.8674 4.14977C37.4391 3.13869 44.2738 3.65604 51.0801 4.17125C53.1253 4.32607 55.1679 4.48068 57.2 4.59358C75.3087 5.59964 91.2897 6.58576 99.9381 23.4021C102.487 28.3576 103.189 34.879 102.545 41.5087C102.378 43.2277 102.122 44.9422 101.788 46.6245C100.173 45.1382 98.4295 43.9524 96.5295 43.0706C92.8197 41.3488 88.6426 40.8454 83.8933 41.3731C79.5161 41.8594 75.3425 45.3057 72.8537 49.377C70.3641 53.4495 69.2276 58.7179 71.792 62.992C73.8799 66.4718 76.1786 68.5069 78.986 69.5685C81.7135 70.6 84.7588 70.6421 88.1396 70.5121C94.6557 70.2614 97.7444 65.2231 99.9926 60.9766C101.261 58.5811 102.379 55.8466 103.285 52.9233C103.388 53.0695 103.49 53.2176 103.592 53.3678C105.812 56.6393 106.417 60.731 106.564 65.2409C106.612 66.7216 106.611 68.1912 106.61 69.6762C106.609 70.4611 106.609 71.2503 106.615 72.0478C106.635 74.3128 106.713 76.5892 107.044 78.7381C108.171 86.062 108.108 94.9789 107.461 102.419C106.798 110.041 105.813 118.103 102.985 124.957C100.182 131.75 95.6031 137.281 87.7232 140.009C75.6577 144.186 62.2458 144.138 49.0624 144.091ZM100.989 50.0621C100.052 53.5625 98.7961 56.8249 97.3413 59.5729C95.0568 63.8879 92.6814 67.3352 88.0243 67.5143C84.6469 67.6442 82.1514 67.5583 80.0471 66.7625C78.0228 65.9969 76.1987 64.5056 74.3645 61.4486C72.6158 58.5339 73.2127 54.5415 75.4133 50.9417C77.6146 47.3407 81.088 44.7032 84.2246 44.3547C88.567 43.8722 92.1671 44.3533 95.2666 45.7918C97.3245 46.7469 99.218 48.1502 100.989 50.0621ZM13.2721 5.71413C13.2574 5.71732 13.2492 5.71864 13.2494 5.71841C13.2495 5.71823 13.2553 5.71698 13.2679 5.71483C13.2692 5.7146 13.2706 5.71437 13.2721 5.71413ZM13.148 2.80142C13.113 2.79668 13.1054 2.79784 13.1405 2.80083C13.1425 2.80099 13.1451 2.80121 13.148 2.80142Z"
                fill="white"
              />
            </g>
            <defs>
              <filter
                id="filter0_d_79_35"
                x="0.210083"
                y="0.574707"
                width="114.714"
                height="154.529"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"
                />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite in2="hardAlpha" operator="out" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                />
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_79_35"
                />
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_79_35"
                  result="shape"
                />
              </filter>
            </defs>
          </svg>

        </div> }}
      </div>

    </section>

  </body>
</html>